<div class="container-fluid footer-content">
    <div class="row justify-content-between h-100">
        <div class="ml-5 d-flex align-items-center h-100">
            <p>Saapaaluu</p>
        </div>
        <div class="mr-5 d-flex align-items-center h-100">
            <p>Paapaaruu</p>
        </div>
    </div>
</div>