<div class="selectStatusWindow">
    <p class="text-center tile-name"></p>
    <p class="tile-description"></p>
    <div class="row">
        <div class="col-6">
            <p class="status-label">Status</p>
        </div>
        <div class="col-6">
            <p class="status-value"></p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div>
            <p class="health-value text-center"></p>
        </div>
    </div>
</div>