<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/js_load.ejs') %>

            <!-- <footer>
                <%- include('./partials/footer.ejs') %>
            </footer> -->
    </body>

    </html>