html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
    padding-bottom: $footer-height;
}

#bg {
    width: 100%;
    height: 100%;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}